<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Registrar Ciudadano</title>

    .3.3/dist/css/bootstrap.min.css"
    rel="stylesheet">

</head>

<body>

<div class="container mt-4">

    <h2>Nuevo Registro</h2>

    @{/vista/padron_electoral/save}

    <div class="mb-3">

        <label>CUI</label>

        <input type="text"
               class="form-control"
               th:field="*{cui}">

    </div>

    <div class="mb-3">

        <label>Nombre</label>

        <input type="text"
               class="form-control"
               th:field="*{nombre}">

    </div>

    <div class="mb-3">

        <label>Apellido</label>

        <input type="text"
               class="form-control"
               th:field="*{apellido}">

    </div>

    <div class="mb-3">

        <label>Departamento</label>

        <input type="text"
               class="form-control"
               th:field="*{departamento}">

    </div>

    <div class="mb-3">

        <label>Municipio</label>

        <input type="text"
               class="form-control"
               th:field="*{municipio}">

    </div>

    <button class="btn btn-success">
        Guardar
    </button>

    oral"
    class="btn btn-secondary">
    Regresar
    </a>

    </form>

</div>

</body>
</html>