<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Padrón Electoral</title>

    .jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet">
</head>
<body>

<div class="container mt-4">

    <h1>Padrón Electoral</h1>

    /vista/padron_electoral/create

    <table class="table table-striped">

        <thead>
        <tr>
            <th>CUI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Departamento</th>
            <th>Municipio</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="registro : ${registros}">

            <td th:text="${registro.cui}"></td>
            <td th:text="${registro.nombre}"></td>
            <td th:text="${registro.apellido}"></td>
            <td th:text="${registro.departamento}"></td>
            <td th:text="${registro.municipio}"></td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>